@page "/fetchdata"
@using System.Text.Json.Serialization
@using System.Globalization
@inject HttpClient _http

<h1>Dipol observations</h1>

<p>A log of DIPol-2 and DIPol-UF observations.</p>
<p>
    <input value="@Value" @onkeydown="SearchField_OnKeyDown" @oninput="SearchField_OnInput"/>
    <button class="btn btn-primary" @onclick="FilterData" type="submit">Search</button>
</p>

@if (_observations.Length == 0)
{
    <p><em>Loading...</em></p>
}
else if (_actualObservations.TryGetNonEnumeratedCount(out var count) && count == 0 || !_actualObservations.Any())
{
    <p><em>No observation satisfies given criteria.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Object</th>
                <th>Exposure (s)</th>
                <th>Images</th>
                <th>Instrument</th>
                <th>Telescope</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obs in Items)
            {
            <tr>
                <td>@obs.Date.ToString("yyyy/MM/dd", DateTimeFormatInfo.InvariantInfo)</td>
                <td>@obs.Object</td>
                <td>@(obs.ExpTime?.ToString("F1") ?? "??")</td>
                <td>@(@obs.N.ToString() ?? "??")</td>
                <td>@obs.Instrument</td>
                <td>@obs.Telescope</td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private DipolObservation[] _observations = Array.Empty<DipolObservation>();
    private IEnumerable<DipolObservation> _actualObservations = Enumerable.Empty<DipolObservation>();
    private bool _shouldRender = true;
    public string Value { get; set; } = string.Empty;

    private IEnumerable<DipolObservation> Items => _actualObservations;

    private void FilterData()
    {
        var val = Value;
        var newObservations = string.IsNullOrWhiteSpace(val) ? _observations : _observations.Where(Filter);

        if (ReferenceEquals(newObservations, _actualObservations))
        {
            return;
        }

        _actualObservations = newObservations;
       
        _shouldRender = true;
     
        bool Filter(DipolObservation obs) => obs.Object.AsSpan().Contains(val, StringComparison.OrdinalIgnoreCase);
    }

    protected override async Task OnInitializedAsync()
    {
        _observations = await _http.GetFromJsonAsync<DipolObservation[]>("sample-data/obslog.json")
                        ?? throw new InvalidOperationException("Failed to load data");

        _actualObservations = _observations;
    }

    protected override bool ShouldRender()
    {
        if (_shouldRender)
        {
            _shouldRender = false;
            return true;
        }
        return false;
    }


    private void SearchField_OnKeyDown(KeyboardEventArgs obj)
    {
        if (obj.Code == "Enter")
        {
            FilterData();
        }
    }

    private void SearchField_OnInput(ChangeEventArgs obj)
    {
        if (obj.Value is string newString)
        {
            Value = newString;
            if (string.IsNullOrWhiteSpace(newString))
            {
                FilterData();
            }
            else
            {
                _shouldRender = false;
            }
        }
    }

    internal record DipolObservation(
        [property:JsonPropertyName("Date")] string DateStr,
        string Object,
        string? Type,
        double? ExpTime,
        int? N,
        double? Focus,
        [property:JsonPropertyName("Inst")] string Instrument,
        [property:JsonPropertyName("Tlscp")] string Telescope,
        string? Comment
    )
    {
        [JsonIgnore]
        public DateTimeOffset Date => DateTimeOffset.TryParseExact(
            DateStr,
            "yyyy-MM-dd",
            DateTimeFormatInfo.InvariantInfo,
            DateTimeStyles.AssumeUniversal,
            out var date
        ) ? date : default;
    }


}
